{
  "rules": {
    "no-param-reassign": 0,
    "padded-blocks": 0,
    "react/no-did-mount-set-state": 0,
    "react/no-multi-comp": 0,
    "react/prefer-es6-class": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/no-string-refs": 0,
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": true
    }],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/anchor-has-content": 0
  }
}
