{
  "extends": "airbnb",
  "root": true,
  "env": {
    "node": true,
  },
  "rules": {
    "id-length": 0,
    "new-cap": [2, { "capIsNewExceptions": ["AND"] }],
    "react/jsx-pascal-case": [2, { "allowAllCaps": true }],
    "react/no-find-dom-node": 1,
    "import/first": 0,
    "no-underscore-dangle": [2, {
      "allowAfterThis": true,
      "allow": [
        "_context",
        "_currentElement",
        "_instance",
        "_reactInternalComponent",
        "_reactInternalInstance",
        "_renderedChildren",
        "_renderedComponent",
        "_renderedNodeType",
        "_state",
        "_store",
        "_stringText",
      ],
    }],
  },
  "overrides": [
    {
      "files": [
        "*.md",
        //"**/*.md",
      ],
      "plugins": [
        "markdown"
      ],
      "rules": {
        "class-methods-use-this": 0,
        "import/no-unresolved": 0,
        "import/no-extraneous-dependencies": 0,
        "import/extensions": 0,
        "max-len": 0,
        "no-unused-vars": 0,
        "no-console": 0,
        "no-undef": 0,
        "react/react-in-jsx-scope": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-no-undef": 0,
        "react/no-multi-comp": 0,
        "react/jsx-one-expression-per-line": 0,
      },
    },
  ],
}
